/**********************************************************
Variables para estilos asociados al titulo: Listas y mapas
***********************************************************/
@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Paytone+One&display=swap");
.card {
  width: 45%;
  padding: 5px;
  -webkit-box-shadow: 2px 2px 5px 2px gray;
          box-shadow: 2px 2px 5px 2px gray;
  border-style: solid;
  color: #000;
  text-align: center;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 60%;
  border: none;
}

.card .btn-primario {
  color: blue;
  -webkit-box-shadow: 2px 2px 3px 2px #6666ff;
          box-shadow: 2px 2px 3px 2px #6666ff;
}

.card .btn-primario:hover {
  -webkit-transform: translateX(-5px);
          transform: translateX(-5px);
}

.card .btn-sucess {
  color: green;
  -webkit-box-shadow: 2px 2px 3px 2px #00e600;
          box-shadow: 2px 2px 3px 2px #00e600;
}

.card .btn-sucess:hover {
  -webkit-transform: translateX(-5px);
          transform: translateX(-5px);
}

.card .btn-warning {
  color: orange;
  -webkit-box-shadow: 2px 2px 3px 2px #ffc966;
          box-shadow: 2px 2px 3px 2px #ffc966;
}

.card .btn-warning:hover {
  -webkit-transform: translateX(-5px);
          transform: translateX(-5px);
}

.card .btn-danger {
  color: Red;
  -webkit-box-shadow: 2px 2px 3px 2px #ff6666;
          box-shadow: 2px 2px 3px 2px #ff6666;
}

.card .btn-danger:hover {
  -webkit-transform: translateX(-5px);
          transform: translateX(-5px);
}

.card .btn-info {
  color: gray;
  -webkit-box-shadow: 2px 2px 3px 2px #b3b3b3;
          box-shadow: 2px 2px 3px 2px #b3b3b3;
}

.card .btn-info:hover {
  -webkit-transform: translateX(-5px);
          transform: translateX(-5px);
}

.card {
  display: none;
}

.card:target {
  display: inline-block;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.btn {
  text-decoration: none;
  border-width: 1px;
  border-style: solid;
  padding: 3px;
  margin: 3px;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 5px 2px gray;
          box-shadow: 2px 2px 5px 2px gray;
  /*
    &-colorprimario{
        @include setButton($colorprimario);
    }
    &-colorwarning{
        @include setButton($colorwarning);
    }
    &-colordanger{
        @include setButton($colordanger); 
    } 
    */
}

.btn:hover {
  border-width: 0px;
}

.btn-sucess {
  border-color: green;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  color: darkcyan;
}

.btn-sucess:hover {
  background-color: green;
  color: white;
}

.btn-info {
  border-color: gray;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  color: darkcyan;
}

.btn-info:hover {
  background-color: gray;
  color: white;
}

.btn-primario {
  border-color: blue;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  color: darkcyan;
}

.btn-primario:hover {
  background-color: blue;
  color: white;
}

.btn-warning {
  border-color: orange;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  color: darkcyan;
}

.btn-warning:hover {
  background-color: orange;
  color: white;
}

.btn-danger {
  border-color: Red;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  color: darkcyan;
}

.btn-danger:hover {
  background-color: Red;
  color: white;
}

.btn-menu {
  border-color: black;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  color: darkcyan;
  background-color: turquoise;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-menu:hover {
  background-color: black;
  color: white;
}

.btn-menu1 {
  border-color: black;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  color: darkcyan;
  background-color: white;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.btn-menu1:hover {
  background-color: black;
  color: white;
}

.ttl {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.ttl-xl {
  font-family: "Dela Gothic One";
  font-size: 25px;
  font-weight: bolder;
}

.ttl-xm {
  font-family: "Righteous";
  font-size: 20px;
  font-weight: bold;
}

.ttl-xs {
  font-family: "Paytone One";
  font-size: 15px;
  font-weight: 300;
}

* {
  margin: 0px;
  padding: 0px;
}

aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
  padding: 25px;
}

ul {
  list-style: none;
  margin: auto;
  padding: 10px;
}

section {
  margin: 40px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=main.css.map */