//Variables
$fontsize:10px;
$colorprimario:blue;
$sucess:green;
$colorwarning:orange;
$info:gray;
$colordanger:Red;
$colordark:black;
$colorlight:white;

//
$colorprimarioLabel:'colorprimario';
$sucessLabel:'sucess';
$colorwarningLabel:'colorwarning';
$infoLabel:'info';
$colordangerLabel:'colordanger';

//
$shadow: 2px 2px 5px 2px gray;

/**********************************************************
Variables para estilos asociados al titulo: Listas y mapas
***********************************************************/

$listfonts: 25px, 20px, 15px;