//Variables
$fontsize:10px;
$colorprimario:blue;
$sucess:green;
$colorwarning:orange;
$info:gray;
$colordanger:Red;
$colordark:black;
$colorlight:white;

//
$primariolable:'colorprimario';
$sucesslable:'colorsucess';
$warninglable:'colorwarning';
$infolable:'colorinfo';
$dangerlable:'colordanger';
