//Estilos para botones
@mixin setButton($color){
        border-color: $color;
        transition: all 250ms ease-in-out;
        color:darkcyan;

    &:hover{
        background-color: $color;
        color: $colorlight;
  
    }
}

.btn{
    text-decoration: none;
    border-width: 1px;
    border-style: solid;
    padding: 3px;
    margin: 3px;
    border-radius: 5px;
    box-shadow: $shadow;

    &:hover{
        border-width: 0px;
    }
    /*
    &-#{$colorprimarioLabel}{
        @include setButton($colorprimario);
    }
    &-#{$colorwarningLabel}{
        @include setButton($colorwarning);
    }
    &-#{$colordangerLabel}{
        @include setButton($colordanger); 
    } 
    */
    &-#{$sucessLabel}{
        @include setButton($sucess);
    }
    &-#{$infoLabel}{
        @include setButton($info);
    } 
}

.btn-primario{
    @include setButton($colorprimario);
}
.btn-warning{
    @include setButton($colorwarning);
}
.btn-danger{
    @include setButton($colordanger);
}
.btn-menu{
    @include setButton($colordark);
    background-color:turquoise;
    border:none;
    display: flex;
    flex-direction:row;
    justify-content: center
}

.btn-menu1{
    @include setButton($colordark);
    background-color:white;
    border:none;
    display: flex;
    flex-direction:row;
}