//Variables
@import "config/variables";
//Componentes
@import "components/buttons";
//Reutilizar código

//Funciones

//Definición de estilos
$background:#f1f7ed;
$fondosec:#07889b;
$fondomenu:#373737;
$boton:#07889b;
$footer:#373737;
$texto:#f1f7ed;
$bgtarget:#66b9bf;

//Fuentes tipograficas


//
*{margin: 0px;
padding: 0px;}

ul{
    list-style: none;
}